.projects{
    padding-top: 64px;
    padding-bottom: 64px;
    border-bottom: 1px solid #c9c9c9;
}
.projects h2{
    font-size: 28px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
}
.projects h3{
    color: #151515;
    margin: 0 0 5px 0;
    font-size: 20px;
    font-weight: 600;
}
.projects p{
    font-size: 16px;
    margin-top: 0;
    overflow-wrap: break-word;
    width: 450px;
    color: #151515;
}

.otherProjects:hover{
    cursor: pointer;
}
.arrow{
    width: 15px;
    padding-top: 4px;
    transition: transform 0.2s ease-in-out;
}
button:hover .arrow{
    transform: translateX(5px);
}

.project{
    
    border-radius: 8px;
    
    background-color: white;
    max-width: fit-content;
    margin-bottom: 32px;
}
.project a{ 
    display: block;
    line-height: 0;
}
/* Voir explication en bas*/
.project-text{
    padding: 30px;
}
.project-img{
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    
}
.project img{
    border-radius: 8px 8px 0 0; 
    width: 100%;
    transition: all 0.5s
}
.project img:hover{
    transform: scale(1.2);
}
.projects ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.projects ul li{
    border: 2px solid #efefef;
    padding: 5px 10px;
    border-radius: 5px;
    color: #515050;
}
.projectsItems button{
        color: #e1432b;
        font-size: 12px;
        font-weight: 600;
        background-color: white;
        padding: 8px 32px;
        margin-top: 32px;
        font-family: 'JetBrains Mono';
        border-radius: 25px;
        border: 2px solid black;
        display: flex;
        align-items: center;
        gap: 10px;  
}
.projects button:hover{
    cursor: pointer;
}
.otherProjects{
        color: white;
        font-size: 12px;
        font-weight: 600;
        background-color: #151515;
        padding: 8px 32px;
        margin-top: 32px;
        font-family: 'JetBrains Mono';
        border-radius: 25px;
        border: none;
        display: flex;
        align-items: center;
        gap: 10px;
}
.project-see img{
    width: 15px;
    padding-top: 4px;
    transition: transform 0.2s ease-in-out;
}
.project-see:hover img{
    transform: translateX(5px);
}

/* Problème: il y a un espace supplémentaire sous l'image,, entre l'image et son contenant avec le lien. L'effet de zoom est donc raté, car l'image déborde vers le bas au survol .

Les balises <a> sont en inline par défaut, ce qui peut entraîner cet espace supplémentaire.
Pourquoi ?
L'image est considérée comme un élément inline-block.
Les éléments inline ont un espacement en bas (à cause de l'alignement vertical par défaut).
Le lien <a> hérite de cet espacement, ce qui fait dépasser la hauteur du lien sous l’image.
=> a { display: block; }

Autre détail qui contribue au même problème: 
Les éléments inline (comme <a>) peuvent hériter d’un line-height trop grand, créant ainsi un espace sous l’image. Pourquoi ? Un line-height supérieur à 0 peut ajouter un espace même si l’image est bien bloquée.
=> a{ line-height: 0; }
*/