.credits{
    display: flex;
    justify-content: space-between;
    font-family: "JetBrains Mono";
    font-size: 12px;
    font-weight: 300;
   
}
.credits a{
    margin: 24px 0;
    color: #494949;
}
.credits p{
    margin: 24px 0;
    color: #494949;
}