.skills{
    padding-top: 64px;
    padding-bottom: 64px;
    border-bottom: 1px solid #c9c9c9;
}
.skills h2{
    font-size: 28px;
    font-weight: 500;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 16px;
    color:#494949;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    
    font-size: 18px;
    
}
.skills li::before{
    content: "-";
    margin: 0 8px;
}
.skills li:first-child::before{
    content: "";
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

/*le "margin-right:0;" supprimer l'espace à gauche du premier element de la liste! */
