.skills{
    padding-top: 64px;
    padding-bottom: 64px;
    border-bottom: 1px solid #ccdbea;
}
.myskills{
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 16px;
}
.skills ul{
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #344155;
}
