.about{
    padding-bottom: 64px;
    border-bottom: 1px solid #c9c9c9;
}
h1{
    color: #e1432b;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}
.about h2{
    color: #e27660;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}
.intro{
    font-size: 20px;
    /*color: #494949;*/
    margin: 0;
}
.about a{
    display: inline-block;
    width: fit-content;
}
.cv{
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: #151515;
    padding: 8px 32px;
    margin-top: 32px;
    font-family: 'JetBrains Mono';
    border-radius: 25px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    

}
.cv:hover{
    cursor: pointer;
}
.arrow{
    width: 15px;
    padding-top: 4px;
    transition: transform 0.2s ease-in-out;
}
.cv:hover .arrow{
    transform: translateX(5px);
}
