#contact{
    padding-top: 56px;
    padding-bottom: 56px;
    border-bottom: 1px solid #c9c9c9;
}
#contact h2{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 28px;
}
.textContainer{
    display: flex;
    flex-wrap: wrap;
}
.textContainer .item{
    width: 50%;
}
#contact span{
    color: #151515;
}
#contact a{
    color: #151515;
}
#contact h3{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}
#contact p{
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 0;
    
}
.formContainer{
    margin-top: 16px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea{
    padding: 10px;
    background-color: white;
    border: 2px solid lightgrey;
    color: grey;
    border-radius: 5px;
    resize: none;
    font-family: sans-serif;
    
}
.send{
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: #151515;
    padding: 8px 32px;
    margin-top: 16px;
    font-family: 'JetBrains Mono';
    border-radius: 25px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-start;
}
.send:hover{
    cursor: pointer;
}
